.community {
  &__image {
    // aspect-ratio: 16/9;
    width: 15rem;
    height: 15rem;
    position: relative;
    aspect-ratio: 1/1;
  }
}

.communitygrid {
  display: flex;
  gap: 1rem;
  overflow: scroll hidden;
}
