.community {
  &__image {
    // aspect-ratio: 16/9;
    position: relative;
    aspect-ratio: 1/1;
  }
}

.communitygrid {
  display: flex;
  gap: 1rem;
  height: min(calc(100vw - 50vw), 17rem);
  overflow: auto;
}
