$brand-primary: #123b2d;
$brand-secondary-100: #262626;
$brand-secondary-200: #f2f5d5;
$brand-secondary-300: #fafbee;
$brand-secondary-400: #6c0303;

$grayscale-100: #ffffff;
$grayscale-200: #f3f4f6;
$grayscale-300: #d1d5db;
$grayscale-400: #9ca3af;
$grayscale-500: #6b7280;
$grayscale-600: #4b5563;
$grayscale-700: #374151;
$grayscale-800: #1f2937;
$grayscale-900: #000000;

$state-info: #3498db;
$state-error: #e74c3c;
$state-warning: #f1c40f;
$state-success: #07bc0c;

$contact-form-color: lighten($brand-secondary-100, 83%);
