.responsive-width {
  width: min(90%, 60rem);
  margin: auto;
}

.responsive-width-form {
  width: min(90%, 35rem);
  margin: auto;
}

.responsive-width-cta {
  width: min(90%, 50rem);
  margin: auto;
}

.responsive-width-story {
  width: min(90%, 45rem);
  margin: auto;
}

.responsive-width-product {
  width: min(90%, 50rem);
  margin: auto;
}

.responsive-width-contact {
  width: min(90%, 40rem);
  margin: auto;
}

.responsive-width-sitemap {
  width: min(90%, 40rem);
  margin: auto;
  min-height: 70vh;
}